body {
  margin: 0 0;
  padding: 0 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
/* ------------------------------------------header--------------------------*/
.header {
  display: flex;
  height: 0;
  position: relative;
  max-width: 100%;
  padding-bottom: 80%;

  &::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../Image/cover.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.8;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
}

nav img {
  margin: 15px;
  padding-top: 10px;
  height: 3rem;
  width: 3rem;
}
nav a {
  color: #000;
}

.container {
  max-width: 100%;
  flex-grow: 1;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  color: #000;
}
ul {
  list-style: none;
  display: flex;
  font-size: 1.5vw;
  font-family: serif, inria serif;
}

li {
  margin-right: 20px;
  color: #000;
}

.search {
  display: flex;
  margin-right: 25px;
  position: relative;
}

.search::after {
  position: absolute;
  content: "";
  outline: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 25px;
}

.search li p {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}
/* ------------------------------------burger------------------------------------------*/
.burger {
  display: none;
}
.burger-menu {
  width: 120px;
  background-color: #000;
  color: #fff;
  z-index: 100;
  height: 210px;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
.cross-icon {
  text-align: right;
}
.burger-menu-item {
  color: #fff;
}
.burger-menu-item ul {
  display: block;
  text-align: left;
}
.burger-menu-item ul li a {
  color: #fff;
  text-align: left;
  line-height: 5px;
}
.show-burger-menu {
  display: block;
}

/* ------------------------------------Cover------------------------------------------*/
.slang {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  min-width: 100%;
  padding-top: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slang p {
  padding: 35px;
  margin: 30px;
}
.botton {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: none;
  margin-top: 25%;
  padding: 45px;
}

.btn {
  min-width: 10vw;
  height: 2vh;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: none;
  border-radius: 5px;
  margin: 0px 30px;

  background: rgb(48, 47, 47);
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
}
/* ------------------------------------main------------------------------------------*/
h2 {
  font-size: 2.5vw;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  text-align: left;
  padding: 10px 90px;
}

.gallary {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  align-items: center;
  justify-content: center;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.card {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  margin: 30px;
  box-shadow: 0px 1px 2px #302f2f;
  transition: box-shadow 300ms;
  transform: 300ms;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: none;
  flex: 1 1 200px;
  overflow: hidden;
}
.card-content img,
.card-content h4,
.card-content p,
.card-content button {
  transition: none;
  pointer-events: none;
}
.card-content {
  padding: 20px;
  transition: none;
  min-width: 80%;
}
.card :hover {
  box-shadow: 0px 1px 2px #1f1f1f;
  transform: translateY(-5px);
}
.card img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 190px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: none;
}

.card h4 {
  font-size: 1.5vw;
  margin-top: 10px;
  min-width: 200px;
  font-family: serif;
}
.card p {
  min-width: 80px;
  font-size: 1.3vw;
  line-height: 20px;
  color: #000;
}
/*-----------------------------------------About-------------------------*/
.about {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 20px;
}
.content {
  min-width: 100px;
  padding: 0 20px;
}
.content h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  font-size: 2rem;
  padding: 0 20px;
}
.content p {
  padding: 30px;
  width: 90%;
  font-size: 1.3rem;
  font-family: serif;
  line-height: 30px;
  text-align: justify;
}
/*-----------------------------------------Footer-------------------------*/
footer {
  width: 100vw;
  height: 280px;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.footer-column {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  line-height: 35px;
}

.footer-column a {
  color: #fff;
}
.col-1,
.col-2,
.col-3 {
  display: flex;
  flex-direction: column;
}
.col-3 li {
  color: #fff;
}

.info {
  display: flex;
  margin-top: 10px;
}
.col-3 li i {
  font-size: 25px;
  margin-right: 30px;
  color: #fff;
}

.col-3 li p {
  margin: 0;
}
.line {
  content: "";
  border: 1px solid white;
  width: 100%;
}
.icon {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-top: 0;
  padding: 0 20px;
}
.botton-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.botton-icon li {
  color: #fff;
}
.botton-icon p {
  margin-right: 10px;
}
/*-----------------------------------------Responsive-------------------------*/

/* @media (max-width: 393px) {
  /* ------------Navbar-------------- */
/* .container {
    display: none;
  }
  .burger {
    display: flex;
    margin: 15px;
    font-size: 25px;
  } */
/* -------------Slang---------------- */
/* .slang p {
    font-size: 25px;
    display: flex;
    text-align: left;
    margin-bottom: 150px;
  }
  .botton {
    display: flex;
    width: 70%;
    margin-top: 20px;
  }
  .btn {
    width: 30%;
    margin-right: 15px;
  } */
/* ----------------------------main----------------------- */
/* h2 {
    font-size: 1rem;
    padding-left: 40px;
  }
  .gallary {
    display: block;
  }
  .gallary .btn {
    width: 80%;
  } */
/* ---------------------About us------------------------- */
/* .about {
    display: block;
    width: 90vw;
  }
  .about img {
    width: 100%;
  }
  .content p {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 20px;
  } */
/* -----------------------footer----------------------- */
/* footer {
    width: 100%;
    height: 180px;
  }
  .footer-column ul {
    padding: 10px;
    font-size: 10px;
    line-height: 15px;
  }
  .botton-icon {
    padding: 0 5px;
  } */
