body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  overflow-x: hidden;
  width: 100vw;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.btn {
  width: 10vw;
  height: 2vh;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: none;
  border-radius: 5px;
  margin: 0px 30px;

  background: rgb(48, 47, 47);
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
}
/* ------------------------------------------header--------------------------*/
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* position: relative; */
  overflow: hidden;
}

.header {
  /* position: fixed; */
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

nav img {
  margin: 15px;
  padding-top: 10px;
  height: 3rem;
  width: 3rem;
}
nav a {
  color: #000;
}

.container {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  color: #000;
}

ul {
  list-style: none;
  display: flex;
  font-size: 20px;
  font-family: serif, inria serif;
}

li {
  margin-right: 20px;
  color: #000;
  cursor: pointer;
}

.search {
  display: flex;
  margin-right: 25px;
  position: relative;
}

.search::after {
  position: absolute;
  content: "";
  outline: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 25px;
}

.search li p {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}
/* ------------------------------------burger------------------------------------------*/
.burger {
  display: none;
}
.burger-menu {
  position: absolute;
  right: 0;
  width: 120px;
  background-color: #000;
  color: #fff;
  z-index: 200;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
.cross-icon {
  text-align: right;
}
.burger-menu-item {
  color: #fff;
}
.burger-menu-item ul {
  display: block;
  text-align: left;
}
.burger-menu-item ul li a {
  color: #fff;
  text-align: left;
  line-height: 5px;
}
.show-burger-menu {
  display: block;
}
/* ------------------------------------Add to card Image ------------------------------------------*/

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 5rem;
  overflow: hidden;
}

.add-to-card {
  margin-top: 10rem;
  margin-left: 100px;
  width: 100%;
  height: 100%;
}
.card-slider {
  width: 100%;
  height: 100%;
}
.main-img-card {
  display: grid;
  grid-template-columns: 400px 50px 50px;
  gap: 5px;
}
.main-img-card img {
  width: 100%;
  height: 100%;
}
.main-img-card img:hover {
  box-shadow: 0 0 5px #3b3b3b;
}
.img-card {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  justify-content: start;
  gap: 5px;
  overflow: hidden;
  margin-left: 15px;
  margin-top: 10px;
}

.img-card img {
  width: 90%;
  height: 100px;
  box-shadow: 0 0 5px #3b3b3b;
}
.color {
  display: flex;
  width: 50px !important;
  height: 50px !important;
  margin-left: 15px;
  margin-top: 550px;
  box-shadow: 0 0 5px #3b3b3b;
}
/* ------------------------------------Details ------------------------------------------*/
.details {
  margin-top: 12rem;
  width: 100%;
}
.details-content p {
  text-align: justify;
  width: 60%;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  margin-left: 40px;
}
.size-details {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.size li {
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 30px;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  margin-right: 10px;
}
.counter {
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 20px;
  width: 70px;

  margin-left: 25px;
  padding: 6px;
  text-align: center;
}
.counter li {
  color: #fff;
  text-align: center;
}
.details-content .btn {
  width: 400px;
  border-radius: 30px;
  margin-left: 40px;
  margin-top: 50px;
}
.product-details {
  box-shadow: 0px 1px 2px #1f1f1f;
  width: 80%;
  padding: 10px;
  margin-left: 120px;
  margin-top: 60px;
}
.product-details-item {
  display: flex;
}
.product-details-item h1 {
  margin-left: 100px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(251, 135, 4);
  margin-top: 40px;
  margin-left: 20px;
}
.product-details ul {
  display: block;
  margin-left: 80px;
  line-height: 30px;
}
.product-details li {
  list-style: circle;
}
/* ------------------------------------Card------------------------------------------*/

h2 {
  font-size: 2.5rem;
  display: flex;
  font-family: sans-serif;
  text-align: left;
  padding: 10px 90px;
  margin-top: 60px;
}

.gallary {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  overflow: hidden;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  margin: 30px;
  box-shadow: 0px 1px 2px #302f2f;
  transition: box-shadow 300ms;
  transform: 300ms;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: none;
  flex: 1 1 200px;
  overflow: hidden;
}
.card-content img,
.card-content h4,
.card-content p,
.card-content button {
  transition: none;
  pointer-events: none;
}
.card-content {
  padding: 20px;
  transition: none;
}
.card :hover {
  box-shadow: 0px 1px 2px #1f1f1f;
  transform: translateY(-5px);
}
.card img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 190px;
}

.card h4 {
  font-size: 1.3rem;
  margin-top: 10px;
  width: 200px;
  font-family: serif;
}
.card p {
  font-size: 1rem;
  line-height: 20px;
  color: #000;
}
.card-content button {
  min-width: 80%;
  margin-left: 20px;
}

/* ------------------------------------Footer------------------------------------------*/

footer {
  width: 100vw;
  min-height: 30vh;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.footer-column {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  line-height: 1.6;
}

.footer-column a {
  color: #fff;
}
.col-1,
.col-2,
.col-3 {
  display: flex;
  flex-direction: column;
}
.col-3 li {
  color: #fff;
}

.info {
  display: flex;
  margin-top: 10px;
}
.col-3 li i {
  font-size: 25px;
  margin-right: 30px;
  color: #fff;
}

.col-3 li p {
  margin: 0;
}
.line-botton {
  content: "";
  border: 1px solid white;
  width: 100%;
}
.icon {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-top: 0;
  padding: 0 20px;
}
.botton-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.botton-icon li {
  color: #fff;
}
.botton-icon p {
  margin-right: 10px;
}

/* ------------------------------Responsive-------------------------- */
@media (max-width: 768px) {
  /* ------------Header-------------- */
  .container {
    display: none;
  }
  .burger {
    display: flex;
    margin: 18px;
    font-size: 25px;
  }

  /* -----------------add to card-----------------  */
  .container-grid {
    grid-template-columns: 1fr;
  }
  .details {
    width: 80%;
    margin-top: 0rem;
  }
  .details-content .btn {
    margin-left: 0;
  }
  .product-details {
    margin-left: 50px;
  }
  .main-img-card {
    grid-template-columns: 350px 50px 50px;
    height: 600px;
    align-items: center;
  }
  .color {
    flex-direction: column;
  }
  /* ---------footer------------------------------ */
  footer {
    max-width: 90%;
    min-height: 100vh;
  }
  .footer-column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col-1,
  .col-2,
  .col-3 {
    flex-basis: 100%;
  }

  .icon {
    flex-direction: row;
  }
  .icon-left,
  .icon-right {
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .container-grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .details {
    margin-top: 0rem;
    margin-left: 10rem;
  }
  .details-content .btn {
    margin-left: 0;
    width: 65%;
  }
  .product-details {
    margin-left: 50px;
  }
}

@media (min-width: 1600px) {
  .search::after {
    margin-top: 2.2rem;
  }
  .main-img-card {
    grid-template-columns: 800px 70px 70px;
  }
  .container ul {
    font-size: 2rem;
  }
  .product-details ul li {
    font-size: 2rem;
  }
  .details-content p,
  h3 {
    font-size: 2rem;
    line-height: 1;
  }
  .color {
    margin-top: 1000px;
  }
  .gallary {
    grid-template-columns: repeat(auto-fit, 40rem);
  }
  .card {
    width: 100%;
  }

  .card-content h4 {
    width: 400px;
  }
  .card img {
    height: 300px;
  }

  .footer-column {
    font-size: 3rem;
  }
}
