body {
  margin: 0 0;
  padding: 0 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
/* ------------------------------------------header--------------------------*/
.header {
  display: flex;
  height: 0;
  position: relative;
  max-width: 100%;
  padding-bottom: 80%;
  overflow: hidden;

  &::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(/assets/images/Image/cover.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.8;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 1;
}

nav img {
  margin: 15px;
  padding-top: 10px;
  height: 3rem;
  width: 3rem;
}
nav a {
  color: #000;
  cursor: pointer;
  z-index: 1;
}

.container {
  max-width: 100%;
  flex-grow: 1;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  color: #000;
}
ul {
  list-style: none;
  display: flex;
  font-size: 1.5vw;
  font-family: serif, inria serif;
}

li {
  margin-right: 20px;
  color: #000;
}

.search {
  display: flex;
  margin-right: 25px;
  position: relative;
}

.search::after {
  position: absolute;
  content: "";
  outline: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 25px;
}

.search li p {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}
/* ------------------------------------burger------------------------------------------*/
.burger {
  display: none;
  padding: 0.5rem;
  position: relative;
}

.burger-menu {
  position: absolute;
  right: 0;
  width: 120px;
  background-color: #000;
  color: #fff;
  z-index: 200;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
.cross-icon {
  text-align: right;
}
.burger-menu-item {
  color: #fff;
}
.burger-menu-item ul {
  display: block;
  text-align: left;
}
.burger-menu-item ul li a {
  color: #fff;
  text-align: left;
  font-size: 18px;
}
.show-burger-menu {
  display: block;
}

/* ------------------------------------Cover------------------------------------------*/
.slang {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  min-width: 100%;
  padding-top: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slang p {
  padding: 35px;
  margin: 30px;
}
.botton {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: none;
  margin-top: 25px;
  padding: 45px;
}

.btn {
  width: 10vw;
  height: 2vh;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 5px;

  background: rgb(48, 47, 47);
  color: white;
  cursor: pointer;
}
.btn:first-child {
  margin: 0 30px;
}

.btn:hover {
  background-color: black;
}
/* ------------------------------------main------------------------------------------*/
h2 {
  font-size: 2.5vw;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  text-align: left;
  padding: 10px 90px;
}

.gallary {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  margin: 30px;
  box-shadow: 0px 1px 2px #302f2f;
  transition: box-shadow 300ms;
  transform: 300ms;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: none;
  flex: 1 1 200px;
  overflow: hidden;
}

.card-content img,
.card-content h4,
.card-content p,
.card-content button {
  transition: none;
  pointer-events: none;
}
.card-content {
  padding: 18px;
  min-width: 100%;
}
.card :hover {
  box-shadow: 0px 1px 2px #1f1f1f;
  transform: translateY(-5px);
}
.card img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 190px;
}
.card-content button {
  min-width: 80%;
  margin-left: 20px;
}
.card p,
h4 {
  font-size: 1vw;
  line-height: 20px;
  color: #000;
}
/*-----------------------------------------About-------------------------*/
.about {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  overflow: hidden;
}

.content {
  max-width: 100vw;
  padding: 0 20px;
}
.content h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  font-size: 2rem;
  padding: 0 20px;
}
.content p {
  padding: 30px;
  width: 90%;
  font-size: 1.3rem;
  font-family: serif;
  line-height: 30px;
  text-align: justify;
}
/*-----------------------------------------Footer-------------------------*/
footer {
  width: 100vw;
  min-height: 30vh;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.footer-column {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  line-height: 1.6;
}

.footer-column a {
  color: #fff;
}
.col-1,
.col-2,
.col-3 {
  display: flex;
  flex-direction: column;
}
.col-3 li {
  color: #fff;
}

.info {
  display: flex;
  margin-top: 10px;
}
.col-3 li i {
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #fff;
}

.col-3 li p {
  margin: 0;
}
.line-botton {
  border: 1px solid white;
  width: 100%;
  margin: 0;
}
.icon {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.botton-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}
.botton-icon li {
  color: #fff;
}
.botton-icon p {
  margin-right: 1rem;
}
.icon-right .botton-icon:last-child {
  margin-right: 30px;
}
/*-----------------------------------------Responsive-------------------------*/

@media (max-width: 768px) {
  /* ------------Header-------------- */
  .container {
    display: none;
  }
  .burger {
    display: flex;
    margin: 15px;
    font-size: 25px;
  }

  .slang p {
    font-size: 1rem;
    text-align: left;
    margin-top: 20px;
  }
  .botton {
    margin-top: 15%;
  }
  .botton .btn {
    margin-bottom: 5px;
    width: 80%;
  }

  /* ------------------main----------------------- */
  .card h4 {
    font-size: 15px;
  }
  .card p {
    font-size: 15px;
  }
  .card .btn {
    width: 80%;
  }

  .about {
    flex-direction: column;
    padding: 20px;
  }
  .about img {
    max-width: 80vw;
  }
  .about p {
    align-items: center;
  }

  /* -----------------------footer----------------------- */
  footer {
    max-width: 100%;
    height: 180px;
  }

  .col-3 li i {
    font-size: 10px;
  }
}
/* -----------------------responsive 1024--------------------- */
@media (max-width: 1023px) {
  /* ------------Header-------------- */
  .botton {
    width: 100%;
    margin-top: 20rem;
  }
  /* ------------Main-------------- */
  .about {
    flex-direction: column;
    padding: 20px;
  }
  .about img {
    max-width: 80vw;
  }
  .about p {
    align-items: center;
  }

  /* ------------Footer-------------- */
  .footer-column {
    font-size: 5rem;
  }

  .col-3 li i {
    font-size: 10px;
  }
}

@media (max-width: 1399px) {
  .botton {
    width: 100%;
    margin-top: 20rem;
  }
  .about {
    flex-direction: column;
    padding: 20px;
  }
  .about img {
    max-width: 80vw;
  }
  .about p {
    align-items: center;
  }
}
